<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokemon DB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pokemon DB</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
      </tr>
      <% for (var i=0; i<pokemons.length; i++){ %>
        <tr>
          <td><%= pokemons[i].id %></td>
          <td><a href="/pokemon/<%=pokemons[i].id%>"><%= pokemons[i].name %></a></td>
          <td><%= pokemons[i].type %></td>
        </tr>
      <% } %>
    </table>
    <a href="/pokemon/new">Add Pokemon</a>
  </body>
</html>
