<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon DB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pokemon DB</h1>
    <p>Welcome to the Pokemon Database</p>
    <a href='/pokemon'>Catch 'Em All</a>
  </body>
</html>
